@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drawer {
  transition: transform 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Additional customization for dark mode */
body.dark ::-webkit-scrollbar-track {
  background: #2d2d2d;
}

body.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

body.dark ::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body.dark ::-webkit-scrollbar-corner {
  background: #2d2d2d;
}

/* Custom styles */
.container {
  margin-top: 2rem;
}

.card {
  background-color: #F5F5F5;
  color: #333333;
}

.text-primary {
  color: #00008B;
}

.text-accent {
  color: #7ED321;
}

.text-secondary {
  color: #1d64e7;
}

.text-warning {
  color: #FF9900;
}

.bg-background {
  background-color: #F5F5F5;
}

.btn-primary {
  background-color: #00008B;
  border-color: #00008B;
}

.btn-primary:hover {
  background-color: #1d64e7;
  border-color: #1d64e7;
}

.flex-1 {
  flex: 1;
}

.w-1/4 {
  width: 25%;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-4 {
  gap: 1rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.shadow-xl {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.list-disc {
  list-style-type: disc;
}

.pl-5 {
  padding-left: 1.25rem;
}

.btn-xs {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.avatar .w-12 {
  border-radius: 12px; /* Adjust as needed to create the squircle shape */
}

